.hurricane-map {
  @include media($medium-screen-up) {
    @include span-columns(4 of 12);
    margin-right: 1rem;
  }
}

.info {

  h1, h2 {
    text-align: center;
  }
  @include media($medium-screen-up) {
    @include span-columns(8 of 12);
    h1, h2 {
      text-align: left;
    }
    margin-left: 30px;
  }
}

.table, .legend {
  @include media($medium-screen-up) {
    @include span-columns(6 of 12);
  }
}

.legend img {
  max-width: 100%;
  padding-bottom: 5px;
  margin: 0 auto;
  display: block;
}
